<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
	 <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>


	    
	    <script>

               			 setInterval( function(){ $('#mytime').html( "Client Time is " + new Date());}, 500);
				 setInterval( function(){ $('#hello').html( "hello");}, 500);


	</script>

	<h1 id="mytime"></h1>
	    



	<h1>Server Time is {{server_time}}</h1>
    

<style>
body {background-color:lightblue;}
h1   {color: brown;}
p    {color: red;}
</style>
</head>
<body>

<h1 align = "center">A Random Survey :)</h1>

<p>

Please enter your name: 
<input type="text" name="UserName" size=50 maxlength=30 value="">

<p/>
Please enter your age:
<input type="text" name="UserName" size=50 maxlength=30 value="">
<p>

Please enter your favorite class ever taken:
<input type="text" name="UserName" size=50 maxlength=30 value="">
<p/>

Please enter a hobby:
<input type="text" name="UserName" size=50 maxlength=30 value="">


<p>

Please enter your favorite sport:
<input type="text" name="UserName" size=50 maxlength=30 value="">
<p/>


<img src = "/static/Survey.gif" align = "bottom">

<p/>
<p>
<p/>





</body>
</html>
